:root {
  --primary: rgb(105, 105, 105);
  --primary-dark: rgb(87, 87, 87);;
  --secondary: ;
  --light: rgb(255, 255, 255);
}

a {
  text-decoration: none;
}

.center {
  text-align: center;
}

.banner {
  height: 50vh;
}

.footer {
  margin-top: 100px;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  bottom: 0;
  text-align: center;
  border-top: solid 2px var(--primary-dark);
}

.footer-item {
  padding: 16px;
  width: 33%;
  height: 100%;
}

@media only screen and (max-width: 440px) {

  .footer-item {
    width: 100%;
    margin: 50px;
  }
}

.icons-banner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-color: var(--primary);
}

.icons-component {
  padding: 40px;
  text-align: center;
  color: white;
  transition: background-color 0.2s;
}

.icons-component a {
  color: white;
}

.icons-component:hover {
  cursor: pointer;
  background-color: var(--primary-dark);
}

.icons-icon {
  width: 80px
}