
.info-and-image-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 48px;
  margin: 48px;
}

.info-and-image {
  flex: 1 1 600px;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 6px 0 0 0;
}

.info-and-image-child {
  margin: 24px;
}

.info-and-image-child-center {
  margin: auto 24px;
}

.info-and-image img {
  max-width: 100%;
}

.info-and-image-bordered {
  border: 2px solid var(--primary-dark);
  border-radius: 12px;
}

@media (max-width: 450px) {
  .info-and-image-container {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    margin: 48px 0px;
  }

  .info-and-image-child {
    margin: 12px;
  }
}


.nav-card {
  flex: 0 1 400px;
  background-color: rgb(248, 248, 248);
  transition: filter 0.5s;
}

.nav-card img {
  height: 12rem;
  width: 16rem;
  object-fit: contain;
  border: solid 1px rgb(214, 214, 214);
  background-color: white;

}

.nav-card:hover {
  filter: brightness(80%);
}


.container.produkt {
  align-items: flex-start;
}

.produkt-text-container {
  flex: 1 0 300px;
}

.produkt-image-container {
  flex: 1 0 300px;
  border: 1px solid rgba(209, 209, 209, 1);
  aspect-ratio: 1 / 1;
}


/* TODO: is overlay used? */
.overlay {
  display: inline-flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: rgba(255, 255, 255, 0.8);
  padding: '24px';
}


.icons-banner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-color: var(--primary);
}

.icons-component {
  padding: 40px;
  text-align: center;
  color: white;
  transition: background-color 0.2s;
}

.icons-component a {
  color: white;
}

.icons-component:hover {
  cursor: pointer;
  background-color: var(--primary-dark);
}

.icons-icon {
  width: 80px
}


.image-card {
  max-width: 400px;
}


.holiday-hours {
  font-weight: bold;
}

.holiday-hours img {
  margin-top: 12px;
  width: 80%;
}

.holiday-hours.påske {
  color: rgb(179, 101, 0);
}

.holiday-hours.jul {
  color: rgb(148, 35, 7);
}

.holiday-hours.sommer {
  color: rgb(3, 104, 0);
}


.back-to-top {
  max-width: var(--max-width);
}


.slideshow {
  position: relative;
  overflow: hidden;
}

.slideshow-image {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.slideshow-image.active {
  opacity: 1;
}

.slideshow-image.cover {
  background-size: cover;
}

.slideshow-image.contain {
  background-size: contain;
}

.slideshow-overlay {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  pointer-events: none;
  margin-top: 48px;
  z-index: 10;
}

.slideshow-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 48px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  z-index: 20;
  color: white;
  background-color: rgba(0, 0, 0, 0.6);
}

.slideshow-arrow.left {
  left: 10px;
}

.slideshow-arrow.right {
  right: 10px;
}


.footer {
  padding: 24px;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  bottom: 0;
  background-color: var(--primary-dark);
  color: var(--light);
}

.footer a {
  color: var(--light);
}

.footer-item {
  padding: 16px;
  min-width: 250px;
  height: 100%;
  margin: auto;
}

@media only screen and (max-width: 440px) {

  .footer-item {
    width: 100%;
    margin: 10px 20px;
  }

}