@import url('https://fonts.googleapis.com/css2?family=Nova+Square&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

/* Colors */

:root {
  --primary: rgb(58, 100, 71);
  --primary-dark: rgb(23, 59, 37);
  --primary-light: rgb(173, 216, 187);
  --secondary: ;
  --light: rgb(255, 255, 255);
  --link: rgb(175, 70, 0);
}


.b-primary {
  background-color: var(--primary);
  color: var(--light);
}

.b-primary-dark {
  background-color: var(--primary-dark);
  color: var(--light);
}

.b-primary-light {
  background-color: var(--primary-light);
}


body {
  font-size: 18px;
  font-family: Arial, sans-serif;
}

a {
  color: black;
  text-decoration: none;
}

.bold {
  font-weight: bold;
}

.center {
  text-align: center;
}

.padding {
  padding: 24px;
}

.margin-vertical {
  margin: 24px 0;
}

.gap {
  gap: 24px
}

.content {
  max-width: 1240px;
  margin: auto;
}

.container {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  align-items: stretch;
}