@import url('https://fonts.googleapis.com/css2?family=Nova+Square&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

/* Colors */

:root {
  --primary: rgb(50, 87, 62);
  --primary-dark: rgb(23, 59, 37);
  --primary-light: rgb(173, 216, 187);
  --secondary: ;
  --light: rgb(255, 255, 255);
  --link: rgb(0, 116, 96);
  --link-light: rgb(194, 255, 179);
  --max-width: 1140px;
}

body {
  background-color: rgb(245, 245, 245);
}


.b-primary {
  background-color: var(--primary);
  color: var(--light);
}

.b-primary-dark {
  background-color: var(--primary-dark);
  color: var(--light);
}

.b-primary-light {
  background-color: var(--primary-light);
}


body {
  font-size: 18px;
  font-family: Arial, sans-serif;
}

a {
  color: black;
  text-decoration: none;
}

.link {
  color: var(--link) !important;
}

.link-light {
  color: var(--link-light) !important;
}

.bold {
  font-weight: bold;
}

.center {
  text-align: center;
}

.padding {
  padding: 24px;
}

.margin-vertical {
  margin: 24px 0;
}

.gap {
  gap: 24px
}

.content {
  max-width: var(--max-width);
  margin: auto;
  padding-bottom: 48px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2), 
              0 1px 3px rgba(0, 0, 0, 0.014);
}

.max-width {
  max-width: var(--max-width);
}

.container {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  align-items: stretch;
}

.container.justify-center {
  justify-content: center;
}

/* Images */

.logo {
  width: 250px;
  height: 50px;

}

@media (max-width: 400px) {
  .logo {
    width: 180px;
}
}

.banda-logo {
  max-height: 75px;
  display: inline-block;
}

.arrow-container {
  position: relative;
  width: 20px;
  height: 20px;
  float: right;
  margin-right: 12px;
}

.arrow {
  position: absolute;
  top: 0;
  left: 0;
  transition: opacity 0.5s ease;
}

.with-arrow .arrow-pointy {
  opacity: 1;
  z-index: 1;
}

.with-arrow:hover {
backdrop-filter: blur(8px);}

.with-arrow .arrow-full {
  opacity: 0;
  z-index: 0;
}

.with-arrow:hover .arrow-pointy {
  opacity: 0;
  z-index: 0;
}

.with-arrow:hover .arrow-full {
  opacity: 1;
  z-index: 1;
}
